PORT=3333
FRONTEND_URL=https://seu-dominio-vercel.app

DB_HOST=localhost
DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_NAME=temnacozinh_ma

EMAIL_USER=seu-email@gmail.com
EMAIL_PASS=sua-senha-de-app-gmail
EMAIL_DEST=destino@gmail.com
